body{
    font-family: 'roboto Mono', monospace;
    background-color: #014f60;

}

.navbar{}
.hero{
    text-align: center;
    color: #000000;
    font-family: 'Arial', sans-serif;
    padding: 50px 20px;
}
.selfie{
    display: block;
    width: 35vw;
    height: 35vw;
    border-radius:50%;
    object-fit: cover;
    border: 5px solid #000000;
    margin: 20px auto;
}

.skillscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;

}

.skillcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01323e;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: auto;
    height: 10%;
    max-width: 200px;
    box-sizing: border-box;
}
.skillcard img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px auto;
    box-sizing: border-box;
}
#js-card img{
    width: 75px;
}