*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
body{
    font-family: 'Nunito Sans', monospace;
    background-color: #27add8;
}

.navbar{
    align-content: center;
    background-color: #090808;
    color: #000000;
    width: 100%;
    height: 8vh;
}
.navbarcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.hero{
    background-color: #28282b;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #c3d6dd;
    height: 50vh;
    align-content: center;


}
.hero h1{

    font-size: clamp(2rem,6vw,4rem);
    max-width: 90ch;
    width: 90%;
    margin: 0.5rem auto;
    white-space: normal;
    overflow-wrap: break-word;
}
.hero p{

    font-size: clamp(2rem, 2.5vw, 2rem);
    max-width: 80ch;
    width: 85%;
    margin: 0 auto;
    white-space: normal;
    overflow-wrap: break-word;
}
.selfie{
    display: block;
    width: clamp(450px, 45vw, 550px);
    aspect-ratio: 1/1;
    border-radius:50%;
    object-fit: cover;
    border: 5px solid #000000;
    margin: 20px auto;
}

.aboutme{
    height: 40vh;
    text-align: center;
    background-color: #27add8;
    overflow: auto;
}
.aboutmeheader{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.aboutmecontent{
    background-color: #28282b;
    height: 20vh;
    border-radius: 15px;
    align-content: center;
    color: #c3d6dd;
    font-size: clamp(2rem, 2.5vw, 2rem);
    max-width: 100ch;
    width: 85%;
    margin: 0 auto;
    white-space: normal;
    overflow-wrap: break-word;
}
.aboutmecontent p{
    padding: 3rem;
}

.skills{
    align-content: center;
    height: auto;
    margin: 0 auto;
    text-align: center;
}



.skillscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;

}

.skillcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #046a81;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: auto;
    height: 10%;
    max-width: 200px;
    box-sizing: border-box;
}
.skillcard img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px auto;
    box-sizing: border-box;
}
#js-card img{
    width: 75px;
}
.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;

}
.favgames{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #01323e;
}
@media (max-width: 1000px){
    .aboutmecontent{
        height: 500px;
    }
}
