*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
body{
    font-family: 'roboto Mono', monospace;
    background-color: #014f60;
}

.navbar{
    align-content: center;
    background-color: #006ab8;
    color: #000000;
    width: 100%;
    height: 8vh;
}
.navbarcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.hero{
    text-align: center;
    color: #000000;
    font-family: 'roboto Mono', sans-serif;
    padding: 50px 20px;
}
.aboutme{
    height: 40vh;
    min-height: 300px;
    text-align: center;
    background-color: #01323e;
    text-align: center;
    overflow: auto;
}
.aboutmeheader{
    margin-bottom: 50px;

}
.aboutmecontent{
    /*font-size: 1rem;*/
    margin: auto 3rem;
    font-size: 1.5rem;
    /*font-family: 'roboto Mono'*/

}


.skills{
    align-content: center;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
h2{
    font-size: 3em;
}
.selfie{
    display: block;
    width: 35vw;
    height: 35vw;
    border-radius:50%;
    object-fit: cover;
    border: 5px solid #000000;
    margin: 20px auto;
}

.skillscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;

}

.skillcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01323e;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: auto;
    height: 10%;
    max-width: 200px;
    box-sizing: border-box;
}
.skillcard img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px auto;
    box-sizing: border-box;
}
#js-card img{
    width: 75px;
}
.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01323e;

}
.favgames{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #01323e;
}