body{
    background-color: #014f60;
    text-align: center;
    /*fonts allowed in the page, and a backup*/
    font-family: arial, sans-serif;
}

.card{
    /*border radius gives a rounded touch, max width determines size etc.. */
    background-color: #01323e;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
}
.card img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

h1{
    font-size: 3em;
    color: #7be0ff;
}

h2 {
    font-size: 2em;
    color: #000000;
}

p {
    font-size: 1.5em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    marrgin: 10px 0;
}